{% extends 'layout.html.twig' %}

{% block content %}
<section class="head">
  <div class="container">
    <h1>
      {{ title }}
    </h1>
    <div class="row">
      <div class="col-xs-6 col-sm-7 col-md-8">
        <p class="lead">{{ date }}</p>
        <hr/>
        {{ text | markdown }}
        <hr/>
        <!--p>
          <button type="submit" class="btn btn-inverse btn-lg">Узнать больше</button>
        </p-->
      </div>
      <div class="col-xs-6 col-sm-5 col-md-4">
        <div class="well">
          <form>
            <div class="form-group">
              <input type="text" name="name" class="form-control input-lg" placeholder="Имя" required="required"/>
            </div>
            <div class="form-group">
              <input type="text" name="phone" class="form-control input-lg" placeholder="Телефон" required="required"/>
            </div>
            <div class="form-group">
              <input type="email" name="email" class="form-control input-lg" placeholder="Емейл" required="required"/>
            </div>
            <button type="submit" class="btn btn-primary btn-lg btn-block">Записаться</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="gray">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-sm-5 col-md-4 col-lg-3">
        <img src="https://www.dropbox.com/s/x35ea1jlgwnwtbb/smiling.jpg?dl=1" class="img-responsive"/>
      </div>
      <div class="col-xs-6 col-sm-7 col-md-6">
        <h2>Вебинар ведёт</h2>
        <p class="lead">Николай Воробьёв</p>
        <ul>
          <li>Международный тренер и коуч с 12-летним опытом</li>
          <li>Владелец 4 компаний</li>
          <li>Автор 4 книг и 15 тренингов</li>
          <li>Ведущий и тренер в 4 телевизионных и радио шоу об отношениях и личной эффективности</li>
        </ul>
      </div>
    </div>
  </div>
</section>
{% endblock %}
{% block stylesheets %}
<style type="text/css">
section.head {
  color: white;
  background-image: url({{ 'bg.jpg' | asset_url }});
  background-position: top center;
}
</style>
{{ parent() }}
{% endblock %}